<% include ../partials/header %>

<div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <h1 style="text-align: center">Edit comment</h1>
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Edit comment</h5>
                        <form class="form-signin" action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                            <div class="form-label-group">
                                <input name="comment[text]" type="text" class="form-control" value="<%= comment.text %>" required
                                    autofocus>
                                <br>
                            </div>
    
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                        </form>
                        <br>
                        <a href="/campgrounds">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




<% include ../partials/footer %>

